@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Roboto Condensed", sans-serif;
}
:root{
    --lead:#212121;
    --gold:#F2BD12;
    --eyeball:#FFFDF7;
    --hintyellow:#FCF1CC;
    --purewhite:#fff;
}
body{
    background: var(--eyeball);
}

/* BASIC STYLING */

a{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}

.flex{
    display: flex;
    
    align-items: center;
}

li{
    list-style: none;
}

.between{
    justify-content: space-between;
}
.gap-3{
    gap: 3rem;
}

.wrapper{
    max-width: 1400px;
 
    margin: auto;
    padding-inline: 1.5rem;

}



/* HEADER STYLING */

.navbar{
    min-height: 14vh;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold);
}
.btn{
    padding: .9rem 2rem;
    background-color: var(--gold);
    border-radius: 1.1rem;
    display: inline-block;
    color: var(--purewhite);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
}









/* MAIN SECTION STYLING */



/* FOOTER STYLING */






































/* MEDIA QUERIES */